/target
**/*.rs.bk

pkg/

*.exe

wasm-pack

.cache/
dist/
node_modules/
target/
pkg/

**/*.log
**/*.lock

package-lock.json

.vscode/

config.toml
config.dev.toml

/data

web/

/*.json

**/.ipynb_checkpoints/

*.sqlite3

evolve.toml

Cargo.preview-head.toml
Cargo.preview-index.toml
